.responsive{
    width: 100%;
    height: auto;
}
.row{
    text-align: right;
    color: white;
}


.container{
    position: relative;
}

.top-left{
    position: absolute;
    font-family: monospace;
    top: 15%;
    left: 16px;
    text-align: left;
    font-size: x-large;
    padding-left: 10%;
}
