.responsive{
    width: 100%;
    height: auto;
}
.row{
    text-align: right;
    color: white;
}
.contactbar{
    background-color: black;
    width: 100%;
    min-height: 30px;
    max-height: 40px;
    padding: 10px 5px 10px 0;
}
.container{
    position: relative;
    color: white;
}
.top-right{
    font-family: monospace;
    position: absolute;
    padding-top: 20%;
    text-align: right;
    padding-left: 10%;
}
